[access]
	inheritFrom = All-Projects
[project]
	description = APPC docker deployment\n\nMoved to read-only as per RELENG-3648
	state = read only
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/*"]
	owner = group saml/onap-gerrit-appc-deployment-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
